.img__container {
  display: flex;
}

#galery {
  height: 125vh;
}

img {
  display: block;
  cursor: pointer;
}

.container1 {
  margin: auto;
  width: 100%;
  max-width: 540px;
}

.container1 .selected {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.container1 .imgContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
}

.container1 .imgContainer img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.galery-p {
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .container1 .imgContainer img {
    width: 100px;
    height: 100px;
  }

  .imgContainer div {
    justify-content: center !important;
  }
}

@media screen and (max-width: 576px) {
  .imgContainer div {
    justify-content: center !important;
  }
}

@media screen and (max-width: 350px) {
  .imgContainer div {
    justify-content: center !important;
  }
}
