footer {
  background: white;
  color: black;
  padding: 3rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20rem;
  bottom: 0;
}

footer h2 {
  font-family: "Light";
  margin-bottom: 5rem;
  font-size: 3rem;
}
