header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__container h3 {
  font-family: "Light";
  font-size: 3rem;
}

.header__container h1 {
  font-family: "Light";
  font-size: 4rem;
}

/* ====== CTA ====== */
.cta {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/* ====== ME ====== */
.me {
  background: linear-gradient(var(--color-bg), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 2.5rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

/* ====== Scroll Down ====== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* Music Player */
.player__up {
  position: fixed;
  right: 2.3rem;
  bottom: 45rem;
  font-weight: 300;
}

.player__up button {
  background: black;
  border: none;
  cursor: pointer;
}

/* ============== Media Queries (Medium Device) ============== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ============== Media Queries (Small Device) ============== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .scroll__down {
    display: none;
  }
}
